@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.lexend-font {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.bg-color{
    background-color: #F9F7F3;
    padding: 24px;
}
.btn-color{
    background-color: #B4F461;
}
.border-1{
    border: rgb(140, 136, 136) 2px;
}
.container{
    width: 90%;
    margin: 5rem auto;
}